body {
  position: relative;
}
hr {
  background-color: white;
  height: 2px;
  border: none;
  padding: 20px;
}
.modals {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
#contact_modal {
  display: none;
}
#lighthouse_modal {
  display: none;
}
#lighthouse_modal .modal {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 50vw;
  height: 94vh;
}
#lighthouse_modal input#close-modal {
  position: absolute;
  top: 5px;
  right: 0;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cont-btn {
  padding: 0 20px;
}

.container-medias img,
.container-medias video {
  object-fit: contain;
  height: 100%;
  width: 100%;
  max-width: 1050px;
  max-height: 800px;
  padding: 20px;
}
/* test */
.container-medias div {
  display: none;
}
.container-medias div.activ {
  display: block;
}
/*  */
.container-medias div.activ img,
.container-medias div.activ video {
  display: block;
  animation: fade 0.8s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.title-in-slider {
  color: #901c1c;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: 50px auto 0;
}

.modal header {
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 180px;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}
.modal header span {
  display: block;
  text-align: left;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
}
form textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 170px;
  padding: 10px;
  font-size: 20px;
  font-family: 'DM sans';
}

/* page photograph */
.price-bottom {
  position: fixed;
  bottom: 0;
  right: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #db8876;
  width: 380px;
  height: 80px;
  border-radius: 5px 5px 0 0;
  font-weight: 800;
  font-size: 24px;
  z-index: 50;
}

.photograph-header div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.photograph-header div h1 {
  font-size: 64px;
  font-weight: 400;
  color: #d3573c;
}
.photograph-header div p {
  font-size: 24px;
  font-weight: 400;
  color: #901c1c;
}
.photograph-header div span {
  font-size: 18px;
  font-weight: 400;
  color: #525252;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  clip-path: ellipse(45% 45% at 50% 50%);
}

/* filter */
.filter-medias {
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 40px;
  position: relative;
}
.filter-text {
  font-size: 18px;
  font-weight: 700;
  margin-right: 20px;
}

#filter-by {
  width: 170px;
  background: #901c1c;
  color: white;
  outline: none;
  border: 2px solid #901c1c;
  border-radius: 5px;
  padding: 10px 8px;
  appearance: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

#filter-by:focus {
  border-color: black;
}

.filter-container {
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

.icon-select i {
  display: none;
}
.icon-select i.activ {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  padding: 0 8px;
  border-radius: 0 5px 5px 0;
  top: 0;
  right: 0;
  color: white;
  background-color: transparent;
  pointer-events: none;
}

/* photograph medias */
.photograph-medias {
  display: grid;
  row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 0 auto;
  padding: 100px 0;
  max-width: 90%;
}
.photograph-medias article .wrap-media {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.photograph-medias img,
.photograph-medias video {
  max-width: 100%;
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.photograph-medias .desc-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901c1c;
  padding: 15px 0;
  font-size: 24px;
  max-width: 100%;
}
.photograph-medias .desc-media p:nth-child(1) {
  flex: 1;
  max-width: 80%;
}

.photograph-medias article i {
  margin-left: 10px;
  cursor: pointer;
}

.activ-elem {
  border: 2px solid #901c1c;
  border-radius: 5px;
}
.liked {
  color: #db8876;
}
